{% extends 'nav.html' %}
{% load static %}

{% block head %}
<title>Menú del Día</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/menudia.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="content-wrapper">
        <div class="header">
            <h1 class="titulo">Menú del Día</h1>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="barra">
            <div class="barra-texto">
                <h3>Platillos del día</h3>
            </div>
            <div class="barra-updtbtn">
                <a href="{% url 'menu_diario' %}"><i class="fa fa-cloud-download"
                    style="margin-right: 0.3rem;"></i>Actualizar</a>
            </div>
        </div>

        <div class="menu-container">
            <div class="row">
                {% for platillo in platillos %}
                <div class="col-3">
                    <div class="card">
                        <img src="{{ platillo.imagen.url }}" alt="{{ platillo.nombre }}">
                        <div class="card-body">
                            <h2>{{ platillo.nombre }}</h2>
                            <p>{{ platillo.descripcion }}</p>
                            <p>Precio: ${{ platillo.precio }}</p>
                            <p>Precio con puntos: {{ platillo.precio_puntos }} puntos</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}