
{% extends 'nav.html' %} 
{% load static %} 
{% block head %}
    <title>Menu - Queiques</title>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"  rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" >
{% endblock %} 
{% block content %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="container mx-auto p-6">
        <div class="flex flex-row space-x-4 p-1 ">
            <div class="flex space-x-4 mt-4">
                <a href="{% url 'ver_carrito' %}" class="bg-black text-white px-4 py-2 rounded mb-4 transition duration-100 btn-black" >
                    <i class="fas fa-shopping-cart mr-4"></i> Carrito de pedido</a>
            </div>
            <div class="flex space-x-4 mt-4">
                <a href="{% url 'consultar_menu_dia' %}" class="bg-black text-white px-4 py-2 rounded mb-4 transition duration-100 btn-black" >
                    <i class="fas fa-mug-saucer mr-4"></i> Menú del dia</a>
            </div>
            <div class="flex space-x-4 mt-4">
                <div class="bg-black text-white px-4 py-2 rounded mb-4 transition duration-100 btn-yellow" >
                    <i class="fas fa-dollar-sign mr-4"> {{total}}</i>
                </div>
            </div>
        </div>
        <h1 class="text-3xl font-bold text-center mb-6">Menú del Dia</h1>
        <div class="w-full relative">
            <div class="swiper centered-slide-carousel swiper-container relative">
                <div class="swiper-wrapper">
                    {% for platillo in platillos_dia %}
                    <div class="swiper-slide">                        
                        <div class="bg-white shadow-md rounded-lg overflow-hidden transform hover:-translate-y-2 hover:shadow-xl transition duration-300 ease-in-out">
                            <img
                                class="w-full h-48 object-cover"
                                src="{{ platillo.imagen }}"
                                alt="{{ platillo.nombre }}"
                            />
                            <div class="p-4">
                                <h2 class="text-xl font-semibold text-gray-800">{{ platillo.nombre }}</h2>
                                <p class="text-gray-600 text-sm mt-2">{{ platillo.descripcion }}</p>
                                <p class="text-gray-800 font-bold mt-4">Precio: ${{ platillo.precio }}</p>
                                <p class="text-gray-600">Puntos: {{ platillo.precio_puntos }}</p>
                                <form
                                    action="{% url 'agregar_carrito' platillo.id_platillo %}"
                                    method="POST"
                                >
                                    {% csrf_token %}
                                    <div class="flex items-center space-x-4">
                                        <input
                                            type="number"
                                            name="cantidad"
                                            value="1"
                                            min="1"
                                            class="w-16 border rounded px-2 py-1 text-center"
                                            required
                                        />
                                        <button
                                            type="submit"
                                            class="bg-black text-white px-4 py-2 rounded transition duration-100 btn-black"
                                        >
                                            <i class="fas fa-shopping-cart mr-2"></i>Agregar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>    
    <h1 class="text-3xl font-bold text-center mt-3 mb-6">Menú</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 mb-5">        
        {% for platillo in platillos %}
        <div class="bg-white shadow-md rounded-lg overflow-hidden transform hover:-translate-y-2 hover:shadow-xl transition duration-300 ease-in-out">
            <img
                class="w-full h-48 object-cover"
                src="{{ platillo.imagen }}"
                alt="{{ platillo.nombre }}"
            />
            <div class="p-4">
                <h2 class="text-xl font-semibold text-gray-800">{{ platillo.nombre }}</h2>
                <p class="text-gray-600 text-sm mt-2">{{ platillo.descripcion }}</p>
                <p class="text-gray-800 font-bold mt-4">Precio: ${{ platillo.precio }}</p>
                <p class="text-gray-600">Puntos: {{ platillo.precio_puntos }}</p>
                <form
                    action="{% url 'agregar_carrito' platillo.id_platillo %}"
                    method="POST"
                >
                    {% csrf_token %}
                    <div class="flex items-center space-x-4">
                        <input
                            type="number"
                            name="cantidad"
                            value="1"
                            min="1"
                            class="w-16 border rounded px-2 py-1 text-center"
                            required
                        />
                        <button
                            type="submit"
                            class="bg-black text-white px-4 py-2 rounded transition duration-100 btn-black"
                        >
                            <i class="fas fa-shopping-cart mr-2"></i>Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/menu.js' %}"></script>

{% endblock %}
